body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.343);
}

p {
    display: inline-block;
}

button, input {
    padding: 0.5rem;
    cursor: pointer;
}

select {
    margin-top: 1rem;
    width: 11.5rem;
}

option {
    font-size: 1.3em;
}

footer {
    font-style: italic;
}

footer, header {
    text-align: center;
    color: white;
}